@*@model Tabang_Hub.UserAccount

    @{
        ViewBag.Title = "Login";
    }

    <h2>Login</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Login</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                Email
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @required = true } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                Password
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control",@type="password", @required = true } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fa-envelope {
        color: black;
    }
</style>

    <div class="signupform">
        <div class="container">
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <img src="~/Content/images/tabanghub3.png" alt="" />
                    </div>
                </div>
                <div class="w3_info">
                    <h2>Login to your Account</h2>
                    <p>Enter your details to login.</p>
                    <form action="#" method="post">
                        <label>Email Address</label>
                        <div class="input-group">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                            <input type="email" placeholder="Enter Your Email" required="">
                        </div>
                        <label>Password</label>
                        <div class="input-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <input type="password" placeholder="Enter Password" required="">
                        </div>
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Remember me</label>
                        </div>
                        <button class="btn btn-danger btn-block" type="submit">Login</button>
                    </form>
                    <p class="account">By clicking login, you agree to our <a href="#">Terms & Conditions!</a></p>
                    <p class="account1">Don't have an account? <a href="@Url.Action("Register", "Page")">Register here</a></p>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2024 Business login form. All Rights Reserved </p>
        </div>
    </div>

